################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Demo/obj/*
*.cache
/Design/Design.csproj
/Demo/bin/Debug/net6.0
/ActionDesignDemo/bin/Debug/net6.0
/ActionDesignDemo/obj/*
/Design/bin/Debug/net6.0
/Design/obj/*
/Linq/bin/Debug/net6.0
/Linq/obj
/StructDesignDemo/bin/Debug/net6.0
/StructDesignDemo/obj/*
*.vsidx
/Design/.vs/*

/CWDesign/bin/*
/CWDesign/obj/*
