################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Design/Design.sln
/Demo/obj/Debug/net6.0/CreateDesignDemo.AssemblyInfo.cs
/Demo/obj/Debug/net6.0/CreateDesignDemo.GlobalUsings.g.cs
*.cache
/Design/Design.csproj
